# VsCode:
.vscode

# Obj files:
*.o

# Binaries:
*.out

# Output:
output/
output.txt
perf.data
perf.data.old
report.txt
slurm*

# Build files:
build/.cmake
build/CMakeFiles
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile

# Binaries:
test